{% extends 'base.html.twig' %}

{% block main %}
    <ul class="list-project" data-projects="{{ folders|json_encode }}">
        <li v-for="project in filteredProjects" class="project">
            <h2>${ project.name }</h2>

            <div class="project-framework" v-if="project.framework.length > 0">
                <img v-for="framework in project.framework" v-bind:src="'/images/'+ framework" alt="">
            </div>

            <a class="project-git" v-if="project.git" target="_blank" v-bind:href="project.git">
                <img src="{{ asset('images/github.png') }}">
            </a>

            <div class="project-action">
                <a class="btn-primary" target="_blank" v-bind:href="'http://'+ project.name +'.{{ extension }}'">Front</a>
                <a v-if="project.framework.length > 0" class="btn-primary" target="_blank" v-bind:href="'http://'+ project.name +'.{{ extension }}/admin'">Admin</a>
            </div>
        </li>
    </ul>
{% endblock %}