{% extends 'base.html.twig' %}

{% block main %}
    <ul class="list-project" data-projects="{{ folders|json_encode }}">
        <li v-for="project in filteredProjects" class="project">
            <h2>${ project.name }</h2>

            <div v-if="project.framework">
                <img v-for="framework in project.framework" style="width: 20px" v-bind:src="'/images/'+ framework" alt="">
            </div>
            <a v-if="project.git" target="_blank" v-bind:href="project.git">GIT</a>
            <a target="_blank" v-bind:href="'http://'+ project.name +'.{{ extension }}'">
                Front
            </a>
            <a target="_blank" v-bind:href="'http://'+ project.name +'.{{ extension }}/admin'">
                Admin
            </a>
        </li>
    </ul>
{% endblock %}