%btn-base {
  display: inline-block;
  padding: 6px 25px;
  border-radius: 5px;
  text-transform: none;
  text-decoration: none;
  border: 0;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

// Primary
.btn-primary {
  @extend %btn-base;
  color: white;
  background-color: $color-secondary;
  transition: background-color $duration ease;

  &:hover {
    background-color: darken($color-secondary, 5%);
  }
}

// Secondary
.btn-secondary {
  @extend %btn-base;
  color: white;
  background-color: $color-primary;
  transition: background-color $duration ease;

  &:hover {
    background-color: darken($color-primary, 5%);
  }
}


.link {
  display: inline-block;
  color: $color-primary;
  margin-bottom: 5px;
  transition: color $duration ease;
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 1px;
    width: 20px;
    margin-right: 5px;
    background-color: $color-primary;
    transition: background-color $duration ease;
  }
  &:hover {
    color: $color-secondary;
    &:before {
      background-color: $color-secondary;
    }
  }
}