header {
  background-color: $color-header;
  color: #D7B29D;
  padding: $gutter;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $screen-l) {
    display: block;
    text-align: center;
  }

  div {
    min-width: 300px;

    @media screen and (max-width: $screen-l) {
      min-width: inherit;
    }

    &:last-child {
      text-align: right;

      @media screen and (max-width: $screen-l) {
        text-align: center;
        margin-top: 10px;
      }
    }
  }

  .logo {
    margin-bottom: 0;

    span {
      font-family: $font-secondary;
      font-size: 35px;
    }
  }
}

.search-container {
  max-width: 600px;
  margin: 30px auto 0 auto;

  input {
    width: 100%;
  }
}