section {
  padding: 50px 0;
}

.wrapper {
  max-width: $screen-m;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.box {
  padding: $gutter;
  box-shadow: 0 0 8px 0 rgba($color-primary, .3);
  border-radius: $border-radius;
}

.list-project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: $gutter;
  margin: -15px;

  @media screen and (max-width: $screen-s) {
    display: block;
    margin: -25px 0;
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    max-width: calc(20% - 30px);
    flex-basis: calc(20% - 30px);
    margin: 15px;
    box-shadow: 0 0 8px 0 rgba($color-primary, .3);
    border-radius: $border-radius;

    @media screen and (max-width: $screen-ml) {
      max-width: calc(25% - 30px);
      flex-basis: calc(25% - 30px);
    }

    @media screen and (max-width: $screen-l) {
      max-width: calc(33.3334% - 30px);
      flex-basis: calc(33.3334% - 30px);
    }

    @media screen and (max-width: $screen-m) {
      max-width: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }

    @media screen and (max-width: $screen-s) {
      max-width: inherit;
      flex-basis: inherit;
      margin: 25px 0;
    }
  }

  .project-header {
    padding: 20px 25px 20px 20px;
  }

  .project-title {
    font-size: 21px;
    margin-bottom: 0;
  }

  .project-modification {
    color: $color-grey-dark;
    font-size: $font-size-small;
  }

  .project-framework {
    padding: 0 20px;
    margin-bottom: 20px;
    .framework {
      color: $color-primary;
      font-size: $font-size-extra-small;
      padding: 1px 8px;
      border-radius: $border-radius;
      display: inline-block;
      vertical-align: middle;
      background-color: rgba($color-primary, .2);
    }
  }

  .project-favicon {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 3px;
  }

  .github-corner {
    overflow: hidden;
    position: absolute;
    right: -30px;
    top: -30px;
    width: 60px;
    height: 60px;
    background-color: black;
    transform: rotate(45deg);

    img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 17px;
    }
  }

  .project-action {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    border-top: 1px solid rgba($color-primary, .15);
    padding: 8px 7px;
    & > * {
      margin: 5px;
    }
  }
}