section {
  padding: 50px 0;
}

.wrapper {
  max-width: $screen-m;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.box {
  padding: $gutter;
  box-shadow: 0 0 8px 0 rgba($color-primary, .3);
  border-radius: $border-radius;
}

.list-project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: $gutter;
  margin: -15px;

  @media screen and (max-width: $screen-s) {
    display: block;
    margin: -25px 0;
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    text-align: center;
    max-width: calc(20% - 30px);
    flex-basis: calc(20% - 30px);
    margin: 15px;
    box-shadow: 0 0 8px 0 rgba($color-primary, .3);
    border-radius: $border-radius;

    @media screen and (max-width: $screen-ml) {
      max-width: calc(25% - 30px);
      flex-basis: calc(25% - 30px);
    }

    @media screen and (max-width: $screen-l) {
      max-width: calc(33.3334% - 30px);
      flex-basis: calc(33.3334% - 30px);
    }

    @media screen and (max-width: $screen-m) {
      max-width: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }

    @media screen and (max-width: $screen-s) {
      max-width: inherit;
      flex-basis: inherit;
      margin: 25px 0;
    }
  }

  h2 {
    margin-bottom: 15px;
  }

  .project-container {
    padding: $gutter 40px;
  }

  .project-framework {
    img {
      width: 30px;
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .project-favicon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
  }

  .github-corner {
    overflow: hidden;
    position: absolute;
    right: -45px;
    top: -45px;
    width: 90px;
    height: 90px;
    background-color: black;
    transform: rotate(45deg);

    img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 22px;
    }
  }

  .project-action {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    & > * {
      flex-grow: 1;
      border-radius: 0;
    }
  }
}