label {
  color: $color-secondary;
}

input[type="search"] {
  appearance: none;
  color: $color-primary;
  border: 0;
  padding: 8px 15px;
  border-radius: $border-radius;

  &::placeholder {
    color: $color-primary;
  }
}

input[type='text'],
input[type='number'],
input[type='datetime'],
input[type='tel'],
input[type='password'],
input[type='email'] {
  display: block;
  width: 100%;
  color: $color-primary;
  border: 1px solid $color-secondary;
  padding: 6px 15px;
  border-radius: $border-radius;
}

.input-line {
  margin-bottom: 25px;
}

.help-text {
  font-size: $font-size-small;
  margin-bottom: 0;
}