{% set get_route = app.request.get('_route') %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Localhost Manager{% endblock %}</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat:400&display=swap" rel="stylesheet">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div id="app">
            {% block header %}
                {% include 'partials/_header.html.twig' %}
            {% endblock %}

            <main role="main">
                {% block main %}{% endblock %}
            </main>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
