{% extends 'base.html.twig' %}

{% block main %}

    {{ form_start(form) }}
        {{ form_row(form.folder) }}
        {{ form_row(form.exception) }}
        <button type="submit">Valider</button>
    {{ form_end(form) }}

{% endblock %}