{% extends 'base.html.twig' %}

{% block body %}
    <div id="app">
        <input type="text" v-model="search" placeholder="Rechercher">

        <ul class="list-project" data-project="{{ folders|json_encode }}">
                <li v-for="project in filteredProjects">
                    <h1>${ project }</h1>
                    <a target="_blank" v-bind:href="'http://'+ project  +'.test'">
                        Front
                    </a>
                    <a target="_blank" v-bind:href="'http://'+ project  +'.test/admin'">
                        Admin
                    </a>
                </li>
        </ul>
    </div>
{% endblock %}